//CORES

$color-primary: #be292b;
$color-primary-light: #de4f51;
$color-primary-dark: #a81a1c;

$color-secondary: #424a88;
$color-secondary-light: #5d65a3;
$color-secondary-dark: #2d3365;

$color-grey-dark-1: #433e3e;
$color-grey-dark-2: #302e2e;
$color-grey-dark-3: #1e1c1c;

$color-grey-light-1: #e8dbdb;
$color-grey-light-2: #d5c8c8;
$color-grey-light-3: #b9adad;

$color-white: #fff4f4;
$color-black: #070707;
