.btn {
    &:link,
    &:visited {
        font-size: 1.4rem;
        font-style: italic;
        font-weight: 700;
        line-height: 120%;
        text-decoration: none;
        color: $color-white;
        padding: 0.8rem 4rem;
        background-color: $color-primary;
        border-radius: 3px;

        transition: all 0.2s;
    }

    &:hover {
        background-color: $color-primary-dark;
    }
}
